<my-navigation></my-navigation>
<div class="container">
<section class="what-is-cardiocare">
    <div class="hero">
        <div class="hero-inner">
            <div class="hero-text">
                <h1>A heart beats 100,000 times per day. Along with blood, each beat is rich with information. Cardiocare allows you to quickly access, track and analyze your heart&#39;s health, giving you and your doctor a proactive, clinically-proven way to care for your heart.</h1>
                <h1><a href="/products"> Learn More ></a></h1>
            </div>
        </div>
    </div>
</section>

<section class="cardiocare-mobile">
    <div class="hero">
        <div class="hero-inner">
            <div class="hero-text">
                <h2>Hold your heart in your hands.</h2>
            </div>
        </div>
    </div>
</section>

<section class="physician-testimonial">
    <div class="hero">
        <div class="hero-inner">
            <div class="hero-text">
                <h1>Instant detection.<br>Proactive cardiac care.</h1>
                <p></p>
                <a href="/products" class="learn-more btn mixpanel">Learn More </a>
            </div>
        </div>
    </div>
</section>

</div>