.product-container{
        padding:5px;
}
.hero {
    height: 550px;
    background-image: url(../app/images/background-section-3-front.jpg);
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}
.description-feature {
    height: 350px;

    padding: 40px;
    font-size: 1em;
    line-height: 1.5;
}
.description-feature .description-outer {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}
.description-feature .description-heading {
    margin-bottom: 15px;
}
.description-feature .description-body {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}
.description-feature .description-body h3{
    color: #f0ad4e;
    font-size: 1.3em;
}
.description-feature .description-body p {
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 auto 1.875em auto;
    font-weight: 600;
}
.hero .hero-inner {
    padding: 0;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}
.hero .hero-inner .hero-text {
    padding-top: 40px;
    display: block;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    max-width: 53.125em;
}
h1 {
    font-size: 2.375em;
    line-height: 1.2;
    margin: 0 0 .75em;
}
.hero .hero-inner .hero-text h2 {
    line-height: 1.2em;
    font-size: 1.625em;
    font-weight: 100;
        margin: 0 0 .75em;
}
.hero .btn {
    margin-bottom: 1em;
    margin-right: 1em;
}
.watch-video {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 12px;
    text-decoration: none;
    transition: all 150ms ease;
    white-space: nowrap;
    text-align: center;
}
 .service-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    height: 400px;
    margin-top: 70px;
}
.service-body .hero-text {
    color: #fff;
    padding: 30px 0;
    margin: 0 auto;
    width: 96%;
}
.service-body .hero-text h1 {
    font-size: 2.375em;
    font-weight:  600;
    line-height: 1.2;
    margin: 0 0 .75em;
}
.step{
    float: left;
}
.steps .step .number-in-circle {
    border-radius: 100%;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
    text-align: center;
    font-weight: 700;
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 4px;
}
.steps .step .description {
    margin-left: 6px;
    float: right;
    width: 85%;
    font-size:1.1em;
    line-height: 1.3em;
}
.steps .step .description p{
    color:#333333;
    font-weight: 700;
    }