<div class="footer_container">
    <div class="footer_mid_col">
        <div class="footer_nav">
            <ul>
                <li><a href="/login" class="footer_link">Home</a></li>
                <li>|</li>
                <li><a href="/aboutUs" class="footer_link">About us</a></li>
                <li>|</li>
                <li><a href="/products" class="footer_link">Products</a></li>
                <li>|</li>
                <li><a href="/contact" class="footer_link">Contact</a></li>
            </ul>

        </div>

        <br clear="all">

        <div class="par">EOW410,University of Victoria,Victoria,BC,Canada | Tel. (250) 721-6029 | <a href="mailto:xdong@ece.uvic.ca" class="footer_link">xdong@ece.uvic.ca</a></div>
        <div class="par">© 2015 - 2016 Cardiacare Created by Dong Research Group, ECE Depart., University of Victoria</div>

    </div>
</div>    