<div id="main">
    <header>
        <ol class="breadcrumb">
            <li> <a href="#">patient</a></li>
            <li class="active">notes</li>
        </ol>
    </header>
    <div id="content">
        <div class="container">
            <div class="row body panel panel-primary">
                <div class="contact-header panel-heading">
                    <p>User:</p>
                </div>
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr class="text-success">
                            <td>ID</td>
                            <td>#1</td>
                        </tr>
                        <tr class="text-success">
                            <td class="col-sm-3">Firstname</td>
                            <td class="col-sm-9">Wanbo</td>
                        </tr>
                        <tr class="text-success">
                            <td>Lastname</td>
                            <td>Li</td>
                        </tr>
                        <tr class="text-success">
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>
                        <tr class="text-success">
                            <td>Birthday</td>
                            <td>1992-08-11</td>
                        </tr>
                        <tr class="text-success">
                            <td>Medical Plan Number</td>
                            <td>7634502</td>
                        </tr>
                        <tr class="text-success">
                            <td>Tel</td>
                            <td class="jack">
                                2508881234 </td>
                        </tr>
                        <tr class="text-success">
                            <td>Address</td>
                            <td>3167 Tyndall Drive</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div>